%tr
  %th.label
    %label{:for => "page_search_toggle"} Search
  %td.field
    = radio_button :page, :searchable, true
    Searchable
    = radio_button :page, :searchable, false
    Invisible to Search