[submodule "vendor/plugins/acts_as_xapian"]
	path = vendor/plugins/acts_as_xapian
	url = git://github.com/Overbryd/acts_as_xapian.git
[submodule "vendor/plugins/xapit"]
	path = vendor/plugins/xapit
	url = git://github.com/ryanb/xapit.git
